:root {
    --header-height: 70px;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    padding-top:var(--header-height);
}

.logo{
    margin-left:10px;
    color:red;
}

.header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom:1px solid black;
    height:var(--header-height);
    width:100vw;
    align-items: center;
    position:fixed;
    top:0px;
    left: 0px;
    background-color: white;;
}

.tabs{
    display:flex;
    flex-direction:row;
}

.tab{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left:5px;
    padding-right: 5px;
    height:var(--header-height);
}

.tab:hover{
    background-color:rgb(255, 0, 0);
    transition-duration: 300ms;
    color:white;
    cursor:pointer;
}
