.accordion-item {
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display:flex;
    flex-direction:column;
    margin-top: 20px;
}

.accordion-title {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    align-items: center;
    padding-left: 20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom: 10px;
    background-color:gray;
}

.accordion-content{
    padding: 20px;
}

.all_steps{
    margin-bottom:30px;
}

.collapsed_steps {
    margin-bottom:0px;
    height:0px;
}

.step{
    margin-top:30px;
}

.step_name{
    font-weight:900;
    font-size:20px;
    margin-left:20px;
}

.step_directions{
    margin-left:30px;
}

.step_image{

}