.accordion-item {
    border: 1px solid black;
    border-radius: 10px;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    margin-top: 20px;
}

.accordion-title {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size:30px;
    align-items: center;
    padding-left: 20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom: 10px;
}

.accordion-content{
    padding: 20px;
}

.performance_name{
    margin-top:20px;
    margin-bottom:20px;
    font-size:45px;
}

.step{
    margin-top:30px;
}

.step_name{
    font-weight:900;
    font-size:20px;
    margin-left:20px;
}

.step_directions{
    margin-top:10px;
    margin-left:20px;
}

.step_video{
    margin-top:30px;
    margin-left:40px;
}